@{
    ViewBag.Title = "Project X";
}

<h2>Account Actions</h2>
<ul>
    <li><a asp-controller="Account" asp-action="Deposit">Deposit</a></li>
    <li><a asp-controller="Account" asp-action="Widthraw">Widthraw</a></li>
    <li><a asp-controller="Account" asp-action="Transfer">Transfer</a></li>
    <li><a asp-controller="Account" asp-action="ViewTransactions">View Transactions</a></li>
</ul>